* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%
}

body {
	font-family: Montserrat, sans-serif;
}

h1 {
	color: #ee2524;
	line-height: 80px;
	font-size: 80px;
	font-family: "Francois One", sans-serif;
	letter-spacing: 1px;
	margin-left: 10px;
}

h2 {
	margin: 5px 0;
	color: #ee2524;
}

hr {
	background-color: #ee2524;
    border: 0;
    height: 2px;
    /*background: linear-gradient(to right, rgba(238, 37, 36, 0.75), rgba(238, 37, 36, 0));*/
    width: 90%;
    margin-left: 2.5%;
}

.page-wrap {
	min-height: 100%;
	position: relative;
}

.top-content {
	display: flex;
	padding: 2.5% 0 1.25% 2.5%;
}

.all-projects {
	margin: 50px auto 0 auto;
	width: 80%;
}

.other-projects {
	display: flex;
	margin-top: 20px;
}

.project {
	flex-grow: 1; 
	width: 49%;
}

.spacer {
	flex-grow: 1;
}

.project-content {
	background: #850606;
	height: 300px;
	width: auto;
}

.border-box {
	box-sizing: border-box;
}

.footer {
	color: white;
	background-color: #b31c1b;
	height: 110px;
	text-align: center;
	line-height: 25px;
	padding-top: 25px;
	position:absolute;
    bottom:0;
    width:100%;
}

.footer i {
	padding: 0 10px 25px 10px;
}

.footer p {
	font-size: 1.25em;
}

.footer-info {
	background-color: #850606;
	padding: 14px 0;
	font-size: 0.75em;
}

#brand-image {
	max-height: 80px;
}